@font-face {
    font-family: 'AG_AalenBoldC-Web';

    src: url('/public/fnts/aga_alen_bold_c/8fc6238c65356426c2636811df8ef167.eot?#iefix') format('embedded-opentype'), url('/public/fnts/aga_alen_bold_c/8fc6238c65356426c2636811df8ef167.woff') format('woff'), url('/public/fnts/aga_alen_bold_c/8fc6238c65356426c2636811df8ef167.woff2') format('woff2');
}

@font-face {
    font-family: 'AG_SouvenirC-Web';

    src: url('/public/fnts/ag_souvenir_c/c8b6bb30325cb45599712787a294dfc1.eot?#iefix') format('embedded-opentype'), url('/public/fnts/ag_souvenir_c/c8b6bb30325cb45599712787a294dfc1.woff') format('woff'), url('/public/fnts/ag_souvenir_c/c8b6bb30325cb45599712787a294dfc1.woff2') format('woff2');
}

@font-face {
    font-family: 'AG_Foreigner_Roman-Web';

    src: url('/public/fnts/ag_foreigner_roman/4e2dd073f13882aab56a90d276e52a9d.eot?#iefix') format('embedded-opentype'), url('/public/fnts/ag_foreigner_roman/4e2dd073f13882aab56a90d276e52a9d.woff') format('woff'), url('/public/fnts/ag_foreigner_roman/4e2dd073f13882aab56a90d276e52a9d.woff2') format('woff2');
}

@font-face {
    font-family: 'AG_Letterica_Bold-Web';

    src: url('/public/fnts/ag_letterica_bold/0a0a296fc57ba8c8b49bea8f1b2cf5bf.eot?#iefix') format('embedded-opentype'), url('/public/fnts/ag_letterica_bold/0a0a296fc57ba8c8b49bea8f1b2cf5bf.woff') format('woff'), url('/public/fnts/ag_letterica_bold/0a0a296fc57ba8c8b49bea8f1b2cf5bf.woff2') format('woff2');
}

@font-face {
    font-family: 'a_BodoniNovaNr-Web';
    src: url('/public/fnts/a_bodoni_nova_italic/a_BodoniNovaNr Italic.eot');
    src: url('/public/fnts/a_bodoni_nova_italic/a_BodoniNovaNr Italic.eot?#iefix') format('embedded-opentype'), url('/public/fnts/a_bodoni_nova_italic/a_BodoniNovaNr Italic.woff2') format('woff2'), url('/public/fnts/a_bodoni_nova_italic/a_BodoniNovaNr Italic.woff') format('woff'), url('/public/fnts/a_bodoni_nova_italic/a_BodoniNovaNr Italic.ttf') format('truetype'), url('/public/fnts/a_bodoni_nova_italic/a_BodoniNovaNr Italic.svg#a_BodoniNovaNr') format('svg');
}

@font-face {
    font-family: 'Colaborate_Medium-Web';
    src: url('/public/fnts/colaborate_medium/ColabMed.eot?') format('eot'), url('/public/fnts/colaborate_medium/ColabMed.woff') format('woff'), url('/public/fnts/colaborate_medium/ColabMed.ttf') format('truetype'), url('/public/fnts/colaborate_medium/ColabMed.svg#Colaborate-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Colaborate_Thin-Web';
    src: url('/public/fnts/colaborate_thin/ColabThi.eot?') format('eot'), url('/public/fnts/colaborate_thin/ColabThi.woff') format('woff'), url('/public/fnts/colaborate_thin/ColabThi.ttf') format('truetype'), url('/public/fnts/colaborate_thin/ColabThi.svg#Colaborate-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'A1010Helvetika-Normal-Web';

    src: url('/public/fnts/a1010helvetika_normal/e95bf3caa9e9794757a4377786209e29.eot?#iefix') format('embedded-opentype'), url('/public/fnts/a1010helvetika_normal/e95bf3caa9e9794757a4377786209e29.woff') format('woff'), url('/public/fnts/a1010helvetika_normal/e95bf3caa9e9794757a4377786209e29.woff2') format('woff2');
}
