@font-face {
    font-family: 'AGAalenBoldC-Web';

    src: url('/public/fnts/aga_alen_bold_c/8fc6238c65356426c2636811df8ef167.eot?#iefix') format('embedded-opentype'), url('/public/fnts/aga_alen_bold_c/8fc6238c65356426c2636811df8ef167.woff') format('woff'), url('/public/fnts/aga_alen_bold_c/8fc6238c65356426c2636811df8ef167.woff2') format('woff2');
}

@font-face {
    font-family: 'AG_SouvenirC-Web';

    src: url('/public/fnts/ag_souvenir_c/c8b6bb30325cb45599712787a294dfc1.eot?#iefix') format('embedded-opentype'), url('/public/fnts/ag_souvenir_c/c8b6bb30325cb45599712787a294dfc1.woff') format('woff'), url('/public/fnts/ag_souvenir_c/c8b6bb30325cb45599712787a294dfc1.woff2') format('woff2');
}

@font-face {
    font-family: 'AG_Foreigner_Roman';

    src: url('/public/fnts/ag_foreigner_roman/4e2dd073f13882aab56a90d276e52a9d.eot?#iefix') format('embedded-opentype'), url('/public/fnts/ag_foreigner_roman/4e2dd073f13882aab56a90d276e52a9d.woff') format('woff'), url('/public/fnts/ag_foreigner_roman/4e2dd073f13882aab56a90d276e52a9d.woff2') format('woff2');
}
