@import 'fonts';
@import 'mixins';

$colors: (
    'main': #299fca
);

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button,
select,
textarea {
    font-family: inherit;
}

body {
    font-size: 15px;
    color: #333;
    line-height: 1;
}

.container {
    max-width: 1024px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    background: #f0e50b;
    color: #64affc;
    font-family: AG_Letterica_Bold-Web, sans-serif;
    border: none;
    padding: 5px 5px 3px 5px;
    border-radius: 3px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.tabs {
    position: relative;

    .tabs__special {
        position: absolute;
        top: -71px;
        right: 0;

        @include breakpoint-max(sm) {
            display: none;
        }
    }

    .tabs__items {
        display: flex;
        border-bottom: 1px solid #81ffff;
        margin-bottom: 20px;
        font-family: 'A1010Helvetika-Normal-Web', sans-serif;

        .tabs__link {
            background-color: #299fca;
            color: #81ffff;
            padding: 5px 20px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            margin-right: 15px;
            text-decoration: none;
            transition: background-color 0.2s linear, color 0.2s linear;

            &--active {
                background-color: #81ffff;
                color: #127ea5;
            }
        }
    }

    .tabs__inner {
        .inner__content {
            display: none;
        }
    }
}

.table {
    width: 100%;

    td {
        padding: 5px 0;
    }
}

.header {
    position: absolute;
    top: -18px;
    left: 0;
    right: 0;
    z-index: 9999;

    &__inner {
        margin: 0 -15px;
        background-color: #4cb2e7;
        display: flex;
        position: relative;
        height: 84px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        transform: rotate(-2deg);

        .inner__logo {
            box-shadow: 0 0 8px #fff;
            color: map-get($colors, main);
            border: 6px solid #fff;
            background-color: #e1ecf2;
            position: absolute;
            top: -25px;
            left: 30px;
            transform: rotate(-5deg);
            padding: 40px 25px 15px 25px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            text-align: center;

            .logo__sup {
                font-size: 33px;
                font-family: 'AG_AalenBoldC-Web', sans-serif;

                @include breakpoint-max(sm) {
                    font-size: 28px;
                }
            }

            .logo__sub {
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;

                @include breakpoint-max(sm) {
                    font-size: 12px;
                }
            }
        }

        .inner__nav {
            transform: rotate(2deg);
            margin: 15px 80px 0 320px;
            font-family: 'AG_Foreigner_Roman-Web', sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .nav__item {
                color: #fff;
                text-decoration: none;
                font-size: 17px;
                display: inline-block;

                &:last-child {
                    margin: 0;
                }
            }

            @include breakpoint-max(md) {
                display: none;
                position: absolute;
                left: 0;
                top: 100%;
                margin-left: 0;
                padding-left: 35px;
                padding-top: 15px;
                padding-bottom: 10px;
                padding-right: 10px;
                width: auto;

                .nav__item {
                    transform: rotate(-6deg);
                    display: block;
                    color: #4cb2e7;
                    padding: 15px 30px;
                    background-color: #e1ecf2;
                    border: 3px solid #fff;
                    margin-bottom: 15px;
                    border-radius: 6px;
                    box-shadow: 0 0 8px #fff;
                    font-size: 18px;
                }
            }
        }

        .inner__toggle {
            background-color: #fff;
            position: absolute;
            right: 15px;
            top: 55%;
            background: none;
            border: none;
            font-size: 0;
            z-index: 10000;
            width: 30px;
            height: 20px;
            cursor: pointer;
            outline: none;
            transform: rotate(2deg);
            display: none;

            .toggle__item {
                position: absolute;
                left: 0;
                height: 3px;
                width: 100%;
                background-color: #fff;
                border-radius: 3px;
                transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.5s;

                &:nth-of-type(1) {
                    top: 0;
                }

                &:nth-of-type(2) {
                    top: 50%;
                }

                &:nth-of-type(3) {
                    top: 100%;
                }
            }

            @include breakpoint-max(md) {
                display: block;
            }
        }
    }

    &--fixed {
        position: fixed;
    }

    &--active {
        .inner__toggle {
            .toggle__item {
                &:nth-of-type(1) {
                    transform: rotate(45deg);
                    top: 47%;
                }

                &:nth-of-type(2) {
                    width: 0;
                }

                &:nth-of-type(3) {
                    top: 50%;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.modal {
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: calc(50% - 200px);
    width: 250px;
    left: calc(50% - 130px);
    border: 1px solid #fff;
    background-color: #fff;
    background-image: linear-gradient(90deg, rgba(207, 201, 201, 0.55) 0%, rgba(248, 244, 244, 0.55) 100);
    border-radius: 6px;
    filter: drop-shadow(0 0 2px #999);
    z-index: 1000000;
    color: #a4a4a4;
    display: none;

    .modal__inner {
        max-height: 240px;
        overflow-y: auto;

        .inner__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;

            .row__img {
                border: 2px solid #fff;
                border-radius: 3px;
                margin-right: 10px;
            }

            .row__data {
                .data__title {
                    font-size: 17px;
                    font-family: 'Colaborate_Medium-Web', serif;
                    margin-bottom: 5px;
                }
                .data__text {
                    font-family: 'Colaborate_Thin-Web', serif;
                    font-size: 14px;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &::-webkit-scrollbar {
            height: 0.75rem;
            width: 0.75rem;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(200, 200, 200, 0.2);
            border-radius: 3px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(200, 200, 200, 0.3);
        }
        &::-webkit-scrollbar-thumb:active {
            background-color: rgba(200, 200, 200, 0.8);
        }
        &:-webkit-scrollbar-thumb:vertical {
            min-height: 1.5rem;
        }
        &:-webkit-scrollbar-thumb:horizontal {
            min-width: 1.5rem;
        }
    }

    .inner__title {
        font-size: 23px;
        text-align: center;
        padding-top: 15px;
        position: relative;

        .modal__close {
            position: absolute;
            right: 0;
            top: 17px;
            cursor: pointer;
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    .gallery__link {
        display: flex;

        .link__img {
            transition: 0.2s;
            width: 100%;
            height: auto;
            border: 3px solid #fff;
            border-radius: 6px;
            filter: grayscale(20%);

            &:hover {
                filter: grayscale(0);
                transform: scale(1.1);
            }
        }
    }
}

.intro {
    background: url('/public/img/intro_bg.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 850px;

    .intro__top {
        margin: 0 -15px;
        position: relative;

        .top_img {
            padding-top: 40px;
            width: 75%;

            img {
                display: block;
                width: 100%;
            }

            @include breakpoint-max(mp) {
                padding-top: 20px;
                position: absolute;
                left: 10%;
                top: 0;
                z-index: 10;
            }

            @include breakpoint-max(sm) {
                display: none;
            }
        }

        .top__subscribe {
            position: absolute;
            right: 0;
            top: 0;
            width: 308px;
            border: 7px solid #7ebee0;
            background-color: #299fca;
            border-radius: 30px;
            padding: 34px 34px 60px 34px;
            color: #fff;
            font-size: 17px;
            font-family: 'AG_Foreigner_Roman-Web', sans-serif;
            z-index: 1000;
            transition: left 0.2s linear, right 0.2s linear;

            .subscribe__mark {
                font-size: 21px;
                position: absolute;
                z-index: 1;
                left: -20px;
                line-height: 40px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                font-family: 'AG_Letterica_Bold-Web', serif;
                background-color: #ded90e;
                display: block;
                padding: 0 20px 0 20px;
                border: none;
                color: #fff;
                filter: drop-shadow(0 0 2px #299fca);
                cursor: pointer;
                outline: none;

                &:after {
                    content: '';
                    position: absolute;
                    right: -20px;
                    top: 0;
                    border: 20px solid transparent;
                    border-bottom: 20px solid #ded90e;
                    border-left: 20px solid #ded90e;
                    border-top: 20px solid #ded90e;
                }
            }

            .subscribe__form {
                padding-top: 60px;
                font-family: 'AG_Foreigner_Roman-Web', sans-serif;
                position: relative;

                .form__row {
                    display: table-row;

                    label {
                        vertical-align: top;
                        display: table-cell;
                        text-align: right;
                        line-height: 30px;

                        &:after {
                            content: ':';
                            margin: 0 5px;
                        }
                    }

                    textarea.text__input {
                        resize: vertical;
                    }

                    select.text__input {
                        color: #299fca;
                    }

                    .text__input {
                        margin-bottom: 10px;
                        display: table-cell;
                        line-height: 1;
                        min-height: 25px;
                        border: 3px solid #a7d1e6;
                        border-radius: 6px;
                        padding: 5px 5px;
                        width: 100%;
                    }
                }
                .btns {
                    text-align: right;
                }
            }

            @include breakpoint-max(mp) {
                right: -273px;
                padding: 20px 10px;
                width: 280px;

                .subscribe__form {
                    margin: 0;
                    padding: 5px;
                }

                .subscribe__mark {
                    transform: rotate(-90deg);
                    left: -125px;
                    top: 115px;
                }
            }
        }
    }

    .intro__footer {
        background: url('/public/img/intro_bg_bt.png') no-repeat top center;
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
        padding-top: 230px;
        padding-bottom: 15px;

        .inner__footer {
            font-size: 29px;
            font-style: italic;
            font-family: 'a_BodoniNovaNr-Web', sans-serif;
            margin-bottom: 10px;
            text-shadow: 0 0 5px #127ea5;
        }

        .footer__inner {
            display: flex;
            flex-wrap: wrap;

            .inner__col {
                flex: 1 1 0;
                min-width: 300px;
                margin-right: 40px;
                width: 100%;

                .col__cell {
                    display: flex;
                    padding: 20px 0;
                    position: relative;

                    .cell__img {
                        margin-right: 15px;
                        border: 3px solid #fff;
                        border-radius: 3px;
                        width: 100%;
                        max-width: 78px;
                        height: 100%;
                        display: block;
                    }

                    .cell__data {
                        .data__title {
                            text-shadow: 0 0 5px #127ea5;
                            font-size: 17px;
                            font-family: 'Colaborate_Medium-Web', sans-serif;
                            margin-bottom: 5px;
                        }
                        .data__text {
                            text-shadow: 0 0 5px #127ea5;

                            font-family: 'Colaborate_Thin-Web', serif;
                        }
                    }

                    .data__more {
                        text-align: right;
                        margin-top: 20px;

                        .more__price {
                            font-size: 27px;
                            font-family: 'Colaborate_Thin-Web', sans-serif;
                            margin-right: 15px;
                            vertical-align: middle;
                        }
                    }

                    &:not(:last-child):after {
                        content: '';
                        width: 100%;
                        border-top: 2px dotted #fff;
                        display: block;
                        position: absolute;
                        bottom: 0;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }

                &--little {
                    max-width: 320px;
                }
            }
        }
    }
}

.section {
    padding: 15px 0;
    background-color: #d6e6ef;

    .section__header {
        text-align: center;
        color: #4690b4;
        font-family: 'AG_Letterica_Bold-Web', sans-serif;

        .header__title {
            font-size: 27px;
            margin-bottom: 5px;
        }

        .header__description {
            font-size: 17px;
        }
    }
    .section__inner {
        padding: 15px 0;

        .inner__map {
            position: relative;

            svg {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;

                .path {
                    transition: opacity 0.2s linear;
                    opacity: 0;
                    cursor: pointer;
                    outline: none;

                    &--active,
                    &:hover {
                        opacity: 0.4;
                    }
                }
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}

.footer {
    padding: 15px 0;
    background-color: #127fa6;
    color: #fff;

    .footer__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .inner__col {
            margin: 15px auto;

            .col__title {
                font-family: 'Colaborate_Medium-Web', serif;
                font-size: 25px;
                margin: 15px 0;
            }

            .col__text {
                p {
                    line-height: 1.6;

                    span {
                        text-align: left;
                        width: 50px;
                        display: inline-block;
                        position: relative;

                        &:after {
                            content: ':';
                            padding: 0 5px;
                            position: absolute;
                            right: 0;
                        }
                    }
                }
            }

            .col__social {
                display: flex;
                justify-content: start;

                .social__item {
                    flex-basis: 50px;
                    border-radius: 50%;
                    background-color: #3bb3de;
                    color: #9bd8ee;
                    transition: color 0.2s linear;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 30px;
                    line-height: 1.6;
                    margin-right: 15px;

                    &:hover {
                        color: white;
                    }
                }
            }

            .col__form {
                margin-bottom: 15px;

                .form__row {
                    margin-bottom: 15px;

                    label {
                        font-size: 0;
                        position: relative;
                        height: 100%;
                        color: #fff;
                        display: inline-block;

                        textarea.text__input {
                            resize: vertical;
                            width: 300px;
                        }

                        .text__input {
                            background: transparent;
                            border: none;
                            min-height: 30px;
                            padding: 0 15px;
                            outline: none;
                            color: #fff;
                            position: relative;
                            z-index: 1;
                            width: 100%;

                            &:focus::placeholder {
                                opacity: 1;
                            }

                            &::placeholder {
                                color: #fff;
                                opacity: 0.5;
                            }
                        }

                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            border-bottom: none;
                            transform: perspective(15px) rotateX(-0.3deg);
                        }
                        &:before {
                            top: -1px;
                            right: -1px;
                            bottom: -1px;
                            left: -1px;
                            border-radius: 3px 3px 5px 5px;
                            background-image: linear-gradient(0deg, #98d8ef 0%, #133e4e 100);
                        }

                        &:after {
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            border-radius: 5px 5px 3px 3px;
                            background: #0f6686;
                            box-shadow: inset 3px 0 8px #0d4255;
                        }
                    }
                }

                .form__btns {
                    text-align: right;
                }

                .form__btn {
                    background-color: #d6e6ef;
                    border: none;
                    color: #127fa6;
                    padding: 0 10px;
                    border-radius: 3px;
                    line-height: 30px;
                    border: 1px solid #d6e6ef;
                    margin-left: 5px;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }
    .footer__opyright {
        text-align: center;
    }
}
